<% content_for :title, "Editing inventory item" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-gray-700 text-4xl">Edit Inventory Item</h1>

  <%= render "form", inventory_item: @inventory_item %>

</div>
