<% content_for :title, "Editing inventory item" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-gray-700 text-4xl">Editing Inventory Item</h1>

  <%= render "form", inventory_item: @inventory_item %>

  <%= link_to "Show this inventory item", @inventory_item, 
    class: "bg-[#9E7BB5] text-white px-6 py-3 rounded-xl font-semibold shadow-md hover:brightness-110 transition duration-200" %>
   <%= link_to "Back to inventory items", inventory_items_path, 
    class: "bg-[#9E7BB5] text-white px-6 py-3 rounded-xl font-semibold shadow-md hover:brightness-110 transition duration-200" %>
</div>
