<% content_for :title, "New Ingredient" %>

<div class="container mx-auto mt-12 px-6">
  <div class="flex justify-between items-center mb-12">
    <h1 class="text-5xl font-extrabold text-indigo-300 tracking-wide">
      New Ingredient
    </h1>

    
  </div>

  <% if notice.present? %>
    <p class="mb-6 text-indigo-700 font-medium"><%= notice %></p>
  <% end %>

  <!-- Form Card (same card language as ingredients) -->
    <%= render "form", ingredient: @ingredient %>
  </div>
</div>